@charset "UTF-8";

body{
    background-color: aqua;
    margin-top: 0px;
}
header{
    background-image: linear-gradient(rgba(5, 5, 236, 0.459), rgba(228, 152, 152, 0.678));
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
    border-radius: 7px 7px 7px 7px; 
}
header > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 4px;
}
nav{
    background-color: rgb(179, 179, 179);
    text-align: center;
}
nav > a{
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30px;
    text-decoration: none;
}
nav> a:hover{
    color: rgb(228, 16, 16);
    text-decoration: underline;
}
main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    margin: auto;
    width: 658;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.315);
}
main > h1{
    text-align: center;
    background-image: linear-gradient(rgba(5, 5, 236, 0.459), rgba(228, 152, 152, 0.678));
    border-radius: 7px 7px 7px 7px;
}
article > h2{
    text-align: center;
}
article > p{
    text-align: justify;
    
}
article > aside{
    text-align: center;
}